<div class="hero-unit">
	<div class="row-fluid">
    <%= render 'events/search_with_btn'%>
	</div>
	<br>
	<br>
<div class="row" id="list_items">
	<div id="what_new" class="col-md-8">
		<div class="widget">
			<h3 class="bg-primary innerAll half border-bottom margin-none">What's new</h3>
			<%= render 'events/whatsnew' %>
			<%= will_paginate @event, renderer: BootstrapPagination::Rails%>
		</div>
		
		
	</div>
	<div id="top_creator" class="col-md-4">
		<div class="widget">
			<h3 class="bg-primary innerAll half border-bottom margin-none">Top creator</h3>	
			<%= render 'users/top_creator' %>
			<%= will_paginate @user, renderer: BootstrapPagination::Rails%>
		</div>
	</div>
</div>