<% @eventmsg.each do |f| %>
<% @eventjoining = Eventjoining.find_by(id: f.body) %>
<% if @eventjoining != nil %>
  <% @event = @eventjoining.event %>
<div class="widget-body">
  <div class="row row-merge">
		    <div class="bg-white border-bottom ">
	 			<div class="row">
				    <div class="col-md-12">
					    <div class="media">
					    	<%= link_to image_tag(@event.avatar_url(:thumbnail), class:"rounded-none pull-left"), @event %>
							    <div class="media-body innerAll half", id="list_items">
									<small class="pull-right label label-default" style="margin-left: 3px">
										<%= time_ago_in_words(f.created_at) %> ago
									</small>
									<% if f.subject == 'request' %>
									    <h4 class="media-heading padding-none">
											<%= link_to @eventjoining.user.name, @eventjoining.user %>
										</h4>
										send a request for your 
										<%= link_to @eventjoining.event.title, @eventjoining.event %>.
									<% elsif f.subject == 'new_joiner' %>
									    <h4 class="media-heading padding-none">
											<%= link_to @eventjoining.user.name, @eventjoining.user %>
										</h4>
										join your
										<%= link_to @eventjoining.event.title, @eventjoining.event %>.
									<% else %>
									    <h4 class="media-heading padding-none">
											<%= link_to @eventjoining.event.user.name, @eventjoining.event.user %>
										</h4>
										has approved your request for
										<%= link_to @eventjoining.event.title, @eventjoining.event %>.
									<% end %>
							    </div>
							    <div class="innerT half text-right">
									<% if f.subject == 'request' %>
								  	    <%= link_to "Approve", eventjoining_path(:status => 'approved', :id => @eventjoining.id),
											 				   class: 'btn btn-info btn-xs', :method => :patch %>
								  	    <%= link_to "Reject", eventjoining_path(:user_id => f.sender_id, :id => @eventjoining.id),
										                       class: 'btn btn-info btn-xs', :method => :delete %>
									<% end %>
							    </div>
								<%= link_to "Delete Notification", message_path(:id => f.id), class: 'btn btn-info btn-xs pull-right', :method => :patch%>
					    </div>
				    </div>
			    </div><!--row-->
		    </div>
  </div>
</div>
		<% end %>
<% end %>