<div class="hero-unit" >
  <% provide(:title, "Edit user") %>
  <div class="row" id="list_items">
    <div class="widget">
    <h2 class="bg-primary innerAll half border-bottom margin-none">Update your profile</h2>
      <div class="widget-body">
        <%= form_for @user, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group">
                <%= f.label :name, class: 'required col-sm-4 control-label'  %>
                <div class="col-sm-6">
                    <%= f.text_field :name, :class => "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :email, class: 'required col-sm-4 control-label'  %>
                <div class="col-sm-6">
                    <%= f.email_field :email, :class => "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :password, class: 'col-sm-4 control-label'  %>
                <div class="col-sm-6">
                    <%= f.password_field :password, :class => "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation, class: 'col-sm-4 control-label'  %>
                <div class="col-sm-6">
                    <%= f.password_field :password_confirmation, :class => "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
                </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

