<div class="hero-unit" >
  <% provide(:title, 'Sign up') %>

  <div class="row" id="list_items">
    <div class="widget">
    <h2 class="bg-primary innerAll half border-bottom margin-none">Sign Up</h2>
      <div class="widget-body">
        <%= form_for @user, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

<!--            
            BREAK  -->

            <div class="form-group">
                <%= f.label :name, class: 'required col-sm-4 control-label'  %>
                <div class="col-sm-6">
                    <%= image_tag(@user.photo_url(:standard), :class => "media-object") %>
                    <%= f.file_field :name %>
                </div>
            </div>
<!--            
            BREAK  -->

            <div class="form-group">
                <%= f.label :email, class: 'required col-sm-4 control-label'  %>
                <div class="col-sm-6">
                    <%= image_tag(@user.photo_url(:standard), :class => "media-object") %>
                    <%= f.file_field :email %>
                </div>
            </div>
<!--            
            BREAK  -->

            <div class="form-group">
                <%= f.label :password, class: 'required col-sm-4 control-label'  %>
                <div class="col-sm-6">
                    <%= image_tag(@user.photo_url(:standard), :class => "media-object") %>
                    <%= f.file_field :password %>
                </div>
            </div>
<!--            
            BREAK  -->

            <div class="form-group">
                <%= f.label :password_confirmation, class: 'required col-sm-4 control-label'  %>
                <div class="col-sm-6">
                    <%= image_tag(@user.photo_url(:standard), :class => "media-object") %>
                    <%= f.file_field :password_confirmation %>
                </div>
            </div>
<!--            
            BREAK  -->

            <div class="form-group">
                <%= f.label :Photo, class: 'required col-sm-4 control-label'  %>
                <div class="col-sm-6">
                    <%= image_tag(@user.photo_url(:standard), :class => "media-object") %>
                    <%= f.file_field :Photo %>
                </div>
            </div>

           <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
                </div>
            </div>
      <% end %>
    </div>
  </div>
</div>