<div class="hero-unit" >
	<% provide(:title, @user.name)%>
	<div class="row-fluid">
		<div id="profile-header" class="span12">
			  <div>
			    <section>
			      <h1>
			        <%= image_tag @user.photo_url(:standard) %>
			        <%= @user.name %>'s Events
			      </h1>
				  <% if current_user?(@user) %>
				  <% else %>
				  	<% if current_user.friend?(@user.id) %>
					  <%= @user.name %> is your friend!
					<% else %>
				      <%= link_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post %>
					<% end %>
				  <% end %>
			    </section>
			  </div>
		</div>
	</div>

	<div class="row-fluid">
		<div id="created-events" class="span6">
			<h3>Created Events (<%= @user.events.count %>):</h3>
			  <% if @user.events.any? %>
				  <div class="span12">
				        <ol class="listItems">
				          <%= render @events %>
				        </ol>
				        <div class="pull-right">
				        	<%= will_paginate @events %>
				   		</div>
				  </div>
			   <% end %>
		</div>
		<div id="joined-events" class="span6">
			<h3>Joined Events (<%= @user.eventjoinings.count %>):</h3>
			<% if @user.eventjoinings.any? %>
				<div class="span12">
			      <% @user.eventjoinings.each do |f| %>
	  				<% @joinedevent = Event.find_by(id: f.event_id) %>
	  				<% @createTime = f.created_at %>
					<ol class="listItems">
					    <%= render 'events/join_history', joinedevent: @joinedevent, createTime: @createTime %>
					</ol>
			      <% end %>

				</div>
			<% end %>
		</div>
	</div>