<div class="hero-unit" >
	<% provide(:title, @user.name)%>

  <div class="row" id="list_items">
	  <div class="widget">
		<h2 class="bg-primary innerAll half border-bottom margin-none"><%= @user.name %></h2>

		  <div class="widget-body">
				<div class="border-bottom">
			  	<div><%= image_tag @user.photo_url(:standard) %></div>
					<%#=image_tag 'user-pic.jpg'%>
				</div>
				
				<% if current_user?(@user) %>
				<% else %>
					<% status = current_user.friend?(@user.id) %>
					<% if status == 'approved' %>
						<%= @user.name %> is your friend!
					<% elsif status == 'request' %>
						Friendship is pending for approval.
					<% else %>
						<%= link_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post %>
					<% end %>
			  <% end %>
			</div>
		</div>
	</div>

  <div class="relativeWrap">
  	<div class="widget widget-tabs widget-tabs-double-2 widget-tabs-responsive">
  		<div class="widget-head">
  			<ul>
					<li class="active"><a class="glyphicons list" href="#createdEvt" data-toggle="tab"><i></i><span>Created Events (<%= @user.events.count %>):	</span></a></li>
					<li class=""><a class="glyphicons user" href="#joinedEvt" data-toggle="tab"><i></i><span>Joined Events (<%= @user.joinedevents.count %>):</span></a></li>
					<li class=""><a class="glyphicons user" href="#sendMsg" data-toggle="tab"><i></i><span>Send Message</span></a></li>
				</ul>
  		</div>
  		<div class="widget-body">
  			<div class="tab-content">
  				<div id="createdEvt" class="tab-pane widget-body-regular active">
  					<p>
							<% if @user.events.any? %>
								<ul class="timeline-activity list-unstyled">
									<%@user.events.each do |event|%>
										<li>
											<i class="list-icon fa fa-share"></i>
											<div class="block block-inline">
												<div class="caret"></div>
												<div class="box-generic">
													<!--event title start-->
													<div class="timeline-top-info content-filled border-bottom">
														<div class="event-title"><%= link_to event.title, event%></div>
														<div class="timeline-bottom">
															<i class="fa fa-clock-o"></i> <%= time_ago_in_words(event.created_at) %> ago.
															<% if current_user?(event.user) %>
														  	<%= link_to "delete", event, method: :delete,
																						 data: { confirm: "You sure?" },
																						 title: event.title, class: 'btn btn-primary' %>
														  <% end %>
														</div>
													</div>
													<!--event title end-->
													<!--event content start-->
													<div class="media innerAll margin-none">
												        <div class="row">
													        <div class="col-md-4">
													        	<div><%=image_tag 'evt-pic.jpg', width: '200', height: '200'%></div>
													        	<%#=link_to image_tag(event.avatar_url(:thumbnail)), event, class: 'pull-left'%></div>
													        <div class="col-md-8">
													        	<div class="media-body">
													          	<%= event.description %>
													          </div>
													        </div>
												      	</div>
												  </div>
												  <!--event content end-->
												</div>
											</div>
										</li>
									<%end%>
								</ul>
							<%end%>
					  </p>
					</div>

					<div id="joinedEvt" class="tab-pane widget-body-regular">
						<p>
							<% if @user.eventjoinings.any? %>
								<ul class="timeline-activity list-unstyled">
									<%@user.joinedevents.each do |event|%>
										<li>
											<i class="list-icon fa fa-share"></i>
											<div class="block block-inline">
												<div class="caret"></div>
												<div class="box-generic">
													<!--event title start-->
													<div class="timeline-top-info content-filled border-bottom">
														<div class="event-title"><%= link_to event.title, event%></div>
														<div class="timeline-bottom">
															<i class="fa fa-clock-o"></i> <%= time_ago_in_words(event.created_at) %> ago.
															<% if current_user?(event.user) %>
														  	<%= link_to "delete", event, method: :delete,
																						 data: { confirm: "You sure?" },
																						 title: event.title, class: 'btn btn-primary' %>
														  <% end %>
														</div>
													</div>
													<!--event title end-->
													<!--event content start-->
													<div class="media innerAll margin-none">
												        <div class="row">
													        <div class="col-md-4">
													        	<div><%=image_tag 'evt-pic.jpg', width: '200', height: '200'%></div>
													        	<%#=link_to image_tag(event.avatar_url(:thumbnail)), event, class: 'pull-left'%></div>
													        <div class="col-md-8">
													        	<div class="media-body">
													          	<%= event.description %>
													          </div>
													        </div>
												      	</div>
												  </div>
												  <!--event content end-->
												</div>
											</div>
										</li>
									<%end%>
								</ul>
							<%end%>
					  </p>
					</div>

					<div id="sendMsg" class="tab-pane widget-body-regular">
						<%= form_for Message.new, html: {class: "form-horizontal", role: "form"} do |f| %>
							<%= f.hidden_field :recipient_id, :value => @user.id %>
							<div class="form-group">
						        <label for="message_subject" class="col-sm-2 control-label">Subject:</label>
						        <div class="col-sm-10">
						            <%= f.text_field :subject, class: "form-control"%>
						        </div>
						  </div>
						  <div class="form-group">
						        <label for="message_body" class="col-sm-2 control-label">Message:</label>
						        <div class="col-sm-10">
						            <%= f.text_area :body, class: "form-control"%>
						        </div>
						  </div>
						  <div class="form-group">
						        <div class="col-sm-offset-2 col-sm-10">
						            <button type="submit" class="btn btn-primary">Send</button>
						        </div>
						  </div>
						<% end %>
					</div>
  			</div>
  		</div>
  	</div>
  </div>
