<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
	<%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_area :description, placeholder: "Description..." %>
  </div>
  
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>
