<%= form_tag( { :controller => 'events', :action => 'search' }, {:method => 'get', :class => 'navbar-form'} ) do %>
	<div class="row-fluid">
		<%= text_field_tag :what, params[:what], :id => 'search_field', :class => 'span3',  :placeholder => "What"%>
		<%= text_field_tag :date, params[:date], :id => 'search_field', :class => 'span3',  :placeholder => "When"%>
		<%= select_tag(:region, options_for_select([['Where', ""], ['Hong Kong Island', "Hong Kong Island"], ['Kowloon', "Kowloon"], ['New Territories', "New Territories"]], :class => 'span3', :selected => params[:region])) %>
		<%= submit_tag "Search", :name => nil, :class=> "btn span3" %>

	</div>
	
<% end %>