<div class="media innerLR border-bottom">
  	<div class="pull-left media-object" style="width:100px">
		<div class="text-center">
			<a href="#" class="clearfix">
				<%= link_to image_tag(event.avatar_url(:thumbnail), class:"rounded-none"), event %>
				<%#= image_tag 'person.jpg', class: 'rounded-none'%>
			</a>
		</div>
	</div>
	<div class="media-body">
		<small class="pull-right label label-default" style="margin-left: 3px"><%= time_ago_in_words(event.created_at) %> ago</small>
		<% if (event.capacity - event.eventjoinings.where(status: 'approved').count) <= 0 %>
			<small class="pull-right label label-default">Full</small>
		<% else %>
			<small class="pull-right label label-default">Remaining seats: <%= event.capacity - event.eventjoinings.where(status: 'approved').count %></small>
		<% end %>
		<h4><a href="" class="text-inverse"></a><%= link_to event.title, event%></h4>
		<div class="row" style="margin-left: 0px">
			<div class="col-md-3">
				<i class="fa fa-fw fa-user fa-1x"></i>
				<%= link_to event.user.name, event.user%>
			</div>
			<div class="col-md-3">
				<i class="fa fa-fw fa-calendar fa-1x"></i>
				<%= event.date %>
				<%= event.time %>
			</div>
			<div class="col-md-3">
				<i class="fa fa-fw fa-map-marker fa-1x"></i>
				<%= event.region %>
			</div>
			<div class="col-md-3">
				<i class="fa fa-fw fa-star fa-1x"></i>
				<%= event.average_rate.round(1) %>
			</div>
		</div>
		<div class="row" style="margin-left: 0px">
			<div class="col-md-12">
    			<%= event.description%>
			</div>
		</div>
	</div>
</div>