<% @event.each do |f| %>
<div class="media innerLR border-bottom">
  	<div class="pull-left media-object" style="width:100px">
		<div class="text-center">
			<a href="#" class="clearfix">
				<%= link_to image_tag(f.avatar_url(:thumbnail), class:"rounded-none"), f %>
				<%#= image_tag 'person.jpg', class: 'rounded-none'%>
			</a>
		</div>
	</div>
	<div class="media-body">
		<small class="pull-right label label-default" style="margin-left: 3px"><%= time_ago_in_words(f.created_at) %> ago</small>
		<% if (f.capacity - f.eventjoinings.where(status: 'approved').count) <= 0 %>
			<small class="pull-right label label-default" style="margin-left: 3px">Full</small>
		<% else %>
			<small class="pull-right label label-default" style="margin-left: 3px">Remaining seats: <%= f.capacity - f.eventjoinings.where(status: 'approved').count %></small>
		<% end %>
		<% if f.privacy == 'high' %>
			<small class="pull-right label label-default">All on request</small>
		<% elsif f.privacy == 'medium' %>
			<small class="pull-right label label-default">Strangers on request</small>
		<% elsif f.privacy == 'low' %>
			<small class="pull-right label label-default">Open to all</small>
		<% end %>
		<h4><a href="" class="text-inverse"><%= link_to f.title, f%></a></h4>
		<div class="row" style="margin-left: 0px">
			<div class="col-md-4">
				<i class="fa fa-fw fa-user fa-1x"></i>
				<%= link_to f.user.name, f.user%>
			</div>
			<div class="col-md-4">
				<i class="fa fa-fw fa-calendar fa-1x"></i>
				<%= f.date %>
				<%= f.time %>
			</div>
			<div class="col-md-4">
				<i class="fa fa-fw fa-map-marker fa-1x"></i>
				<%= f.region %>
			</div>
		</div>
		<div class="row" style="margin-left: 0px">
			<div class="col-md-12">
    			<%= f.description%>
			</div>
		</div>
	</div>
</div>
<% end %>
