<div class="hero-unit" >
  <% provide(:title, "Edit event") %>
  <h1>Update your event</h1>

  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@event) do |f| %>
  	  <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :description %>
        <%= f.text_area :description %><br>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>