  <!-- load geocomplete javascript library -->
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&location_type=ROOFTOP&result_type=administrative_area_level_1&language=en"></script>

<div class="hero-unit" >
  <% provide(:title, 'Edit event') %>
  <div class="widget">
  	<!-- Widget heading -->
  	  <h3 class="bg-primary innerAll half border-bottom margin-none">Edit Your Event</h3>
  	
	<!-- // Widget heading END -->	
  	<div class="widget-body">
	  <%= form_for(@event) do |f| %>
	    <div class="row">
	    	<%= render 'shared/error_messages', object: f.object %>
	    </div>
	    <div class="row">
			<div class="col-md-6">
			    <h5>Title</h5>
		  	    <div class="innerB">
				  <%= f.text_field :title, placeholder: "title...", class: "form-control" %>
		  		</div>
				
			    <h5>Event date</h5>
		  	    <div class="innerB date" id="datetimepicker2">
				  <%= f.text_field :date, placeholder: "event date...", class: "form-control" %>
		  		</div>
				
			</div>
			
			<div class="col-md-6">
			    <h5>Number of participants</h5>
		  	  <div class="innerB">
				  <%= f.text_field :capacity, placeholder: "capacity...", class: "form-control" %>
		  		</div>
			    <h5>Event time</h5>
		  	    <div class="innerB bootstrap-timepicker">
				    <%= f.text_field :time, placeholder: "event time...", class: "form-control" %>
		  		</div>
				
			</div>
		</div>
		
	    <div class="row">
			<div class="col-md-11">
		      <h5>Event location</h5>
	  	      <div class="innerB" id="location_fields">
		        <input id="geocomplete" type="text" class="form-control" placeholder="<%= @event.street %>" size="90" />
		        <input name="country" type="hidden" value="" />
	  		  </div>
		    </div>
			<div class="col-md-1">
				<h5>&nbsp;</h5>
				<input id="find" type="button" value="find" class="btn btn-small btn-primary"/>
			</div>
		</div>
		<div class="row">
	        <div class="map_canvas col-md-12 center" style="margin-left: 10px; width:900px; height:300px"></div>
		</div>
		<br>
	    <div class="row">
			<div class="col-md-6">
			    <h5>Region</h5>
		  	    <div class="innerB">
				  <%= f.text_field :region, :readonly => true, class: "form-control"  %>
				  <%= f.hidden_field :street %>
		  		</div>
			</div>
			
			<div class="col-md-6">
			    <h5>Picture</h5>
			    <div class="row">
					<div class="col-md-4">
			    		<%= image_tag(@event.avatar_url(:standard)) %>
					</div>
					<div class="col-md-6	">
						 <div class="innerB fileupload fileupload-new margin-none" data-provides="fileupload">
						  	<span class="btn btn-default btn-file">
						  		<span class="fileupload-new">Select file</span>
						  		<span class="fileupload-exists">Change</span>
						  		<%#= f.hidden_field(:avatar_cache)%>
				  		    <%= f.file_field :avatar, class: "margin-none"   %>
						  	</span>
						  	<span class="fileupload-preview"></span>
						  	<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
						</div>
					</div>
			    </div>
			</div>
		</div>
		
	    <div class="row">
		    <h5>Description</h5>
	  	    <div class="innerB">
	  	   	  <%= f.text_area :description, class: "form-control"    %><br>
	  		</div>
		</div>
		
	    <div class="row">
	  	    <div class="innerB center-div">
	  	   	  <%= f.submit "Save", class: "btn btn-primary" %>
	  		</div>
		</div>
		
		
      <%end%>			
    </div>
	
  </div><!--widget widget-inverse-->
<!-- </div>  do not close hero-unit class-->
<script type="text/javascript">
$(function() {
  
  $('#event_date').datepicker({
	  format: 'yyyy-mm-dd',
	  showMeridian: true,
	  autoclose: true
  });

  $('#event_time').timepicker({
    minuteStep: 5,
    showInputs: false,
    showMeridian: false
  });
  


  	// google map initialization
	fn_init_map = function(){
		  var available_regions = ["Kowloon", "Hong Kong Island", "New Territories"];
		  var trial = 0; // workaround for sometimes search by click doesn't work
		  var event_location = "<%= @event.street%>";
		  var options = {
		    map: ".map_canvas",
			location: event_location,
		    details: "form"
		  };
	
		$("#geocomplete").geocomplete(options)
		    .bind("geocode:result", function(event, result){

				// put values into input elements
				for (var i=0; i< result.address_components.length; i++) {
					var component = result.address_components[i];
					if (component.types[0] == "administrative_area_level_1")
						$("input[name='event[region]']").val(component.long_name);
				}
			  	
			  	$("input[name='event[street]']").val(result.formatted_address);
				
				trial++;
				// check if input address is in Hong Kong
				if ($("input[name='country']").val() != "Hong Kong" ) {
			        alert("Please input an address inside Hong Kong.");
			        $('#location_fields').find("input").not("#find").val('');
			 	}
				// check if region is either Kowloon, Hong Kong Island or New Territories
				else {
			        matched = $.inArray($("input[name='event[region]']").val(), available_regions);
			        if (matched == -1) {
				        if (trial == 1) {
				        	$("#find").click();
				        }
			        	else {
				            alert("Please input an address with either Kowloon, Hong Kong Island or New Territories as region.");
				            $('#location_fields').find("input").not("#find").val('');

				            trial = 0;
			        	}
			        }
			        else {
			        	trial = 0;
			        }
				}
			}
		);
	};
	setTimeout(fn_init_map, 1000);

  $("#find").click(function(){
    $("#geocomplete").trigger("geocode");
  });
});

</script>