  <!-- load geocomplete javascript library -->
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&location_type=ROOFTOP&result_type=administrative_area_level_1&language=en"></script>

<div class="hero-unit" >
  <% provide(:title, 'Create Event') %>
  <h1>Create Event</h1>

  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@event) do |f| %>
  	  <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :description %>
        <%= f.text_area :description %><br>
		
        <%= f.label :capacity %>
        <%= f.text_field :capacity %>

    <!-- event date: START -->
      <%= f.label :event_date %>
      <div id="datetimepicker1" class="input-append date">
        <!--<input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input> -->
        <%= f.text_field :date, :as => :datetime_picker %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphw">
          </i>
        </span>
      </div>
      <script type="text/javascript">
        $(function() {
          $('#datetimepicker1').datetimepicker({
            language: 'pt-BR',
            pickTime: false ,
            format: 'yyyy-MM-dd',
          });
        });
      </script>
    <!-- event date: END -->

    <!-- event location: START -->
    <%= f.label :event_location %>

    <div id="location_fields">
      <input id="geocomplete" type="text" placeholder="Type in an address" size="90" />
      <input id="find" type="button" value="find" />
      <div class="map_canvas"></div>
	  
	  <%= f.hidden_field(:lat)%>
	  <%= f.hidden_field(:lng)%>
      <input name="country" type="hidden" value="" />

      <label>Region</label>
	  <%= f.text_field :region, :readonly => true %>
    </div>

    <script>
      $(function(){
        
        var available_regions = ["Kowloon", "Hong Kong Island", "New Territories"];
        var trial = 0; // workaround for sometimes search by click doesn't work

        var options = {
          map: ".map_canvas",
          details: "form"
        };
        
        $("#geocomplete").geocomplete(options)
          .bind("geocode:result", function(event, result){

			// put values into input elements
			for (var i=0; i< result.address_components.length; i++) {
				var component = result.address_components[i];
				if (component.types[0] == "administrative_area_level_1")
					$("input[name='event[region]']").val(component.long_name);
			}
			$("input[name='event[lat]']").val(result.geometry.location.lat());
			$("input[name='event[lng]']").val(result.geometry.location.lng());
			

            trial++;
            // check if input address is in Hong Kong
            if ($("input[name='country']").val() != "Hong Kong" ) {
              alert("Please input an address inside Hong Kong.");
              $('#location_fields').find("input").not("#find").val('');
            }
            // check if region is either Kowloon, Hong Kong Island or New Territories
            else {
              matched = $.inArray($("input[name='event[region]']").val(), available_regions);
              if (matched == -1) {
                if (trial == 1) {
                  $("#find").click();
                }
                else {
                  alert("Please input an address with either Kowloon, Hong Kong Island or New Territories as region.");
                  $('#location_fields').find("input").not("#find").val('');

                  trial = 0;
                }
              }
              else {
                trial = 0;
              }
            }

          });
        
        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
      });
    </script>
    <!-- event location: END -->

		
		<%= f.label :Picture %>
		<%= f.hidden_field(:avatar_cache)%>
		<%= f.file_field :avatar %>

        <%= f.submit "Create Event", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>