<div class="hero-unit" >
  <% provide(:title, 'Create Event') %>
  <h1>Create Event</h1>

  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@event) do |f| %>
  	  <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :description %>
        <%= f.text_area :description %><br>
		
        <%= f.label :capacity %>
        <%= f.text_field :capacity %>

        <%= f.label :event_date %>
        <div id="datetimepicker1" class="input-append date">
        <!--<input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input> -->
          <%= f.text_field :date, :as => :datetime_picker %>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphw">
            </i>
          </span>
        </div>
        <script type="text/javascript">
          $(function() {
            $('#datetimepicker1').datetimepicker({
              language: 'pt-BR',
              pickTime: false
            });
          });
        </script>

		
		<%= f.label :Picture %>
		<%= f.hidden_field(:avatar_cache)%>
		<%= f.file_field :avatar %>

        <%= f.submit "Create Event", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>