  <!-- load geocomplete api -->
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&location_type=ROOFTOP&result_type=administrative_area_level_1&language=en"></script>

<div class="hero-unit" >
	<% provide(:title, @event.title)%>
    <div class="row" id="event_detail">
    	<div class="col-md-8">
    		<div class="widget">
    			<h3 class="bg-primary innerAll half border-bottom margin-none"><%= @event.title %></h3>
    			<div class="widget-body row">
					<div class="col-md-4" style="margin-left: 10px; margin-top: 10px">
					<%= link_to image_tag(@event.avatar_url(:standard)), @event %>
				    <%#=image_tag "event-pic.jpg", class:"img-responsive"%>
				    <%#= link_to image_tag(@event.avatar_url(:standard)), @event %>
					</div>
					<div class="col-md-7">
						<div class="row" style="margin-top:15px">
							<div class="col-sm-9"></div>
							<div class="col-sm-3">
								<small class="label label-default" style="vertical-align: top;">
									Quota: <%= @event.capacity %>
								</small>
							</div>
						</div>
						<div class="row">
							<p><%= @event.description %></p>	
						</div>

						<div class="innerAll text-center half">
							
						</div>
					</div>
			    </div>
				<div class="row" style="padding-bottom: 10px">
					<div class="col-sm-5"></div>
					<div class="col-sm-3">
						<% if current_user?(@event.user) %>
							<div class="pull right">
							  	<%= link_to "edit", edit_event_path, class: "btn btn-default" %>
							</div>
						<% end %>
					</div>
					<div class="col-sm-4">
						<%= render 'join_form' if signed_in? %>
					</div>
				</div>
    		</div>
			<div class="widget">
				<h4 class="innerAll half border-bottom margin-none" id="list_items">Location</h4>
				<div class="innerAll half border-bottom ">
					<div class="media innerAll half margin-none">
						<div class="pull-left">
							<i class="fa fa-fw fa-map-marker fa-3x"></i>
						</div>
						<div class="media-body">
							<input id="geocomplete" type="hidden" placeholder="Type in an address" size="90" />
							<p class="strong lead margin-none"><%= @event.region %></p>
							<p class="strong margin-none"><%= @event.street  %></p>
						</div>
						<div class="map_canvas" style="margin-left: 50px; margin-right: 50px; width:500px; height:200px"></div>
					</div>
				</div>
			</div>
    	</div>
		

    	<div class="col-md-4 col-lg-4">
    		<div class="widget">
				<h4 class="innerAll half border-bottom margin-none" id="list_items">Creator</h4>
				<div class="border-bottom">
			  		<div class="innerAll half">
						<div class="media">
							<% @creator = User.find_by(id: @event.user_id)%>
						    <%= link_to image_tag(@creator.photo_url(:icon)), @creator, :class => "pull-left" %>
						    <div class="media-body innerAll half">
							    <h5 class="media-heading padding-none"><%= link_to @creator.name, @creator %></h5>
								Created <%= time_ago_in_words(@event.created_at) %> ago.	
						    </div>
						</div>
			  		</div>
			  </div>
			</div>
    		<div class="widget">
				<h4 class="bg-primary innerAll half border-bottom margin-none">Event Date & Time</h4>
				<div div class="media-body  bg-primary ">
					<div class="media innerAll half margin-none">
						<div class="pull-left">
							<i class="fa fa-fw fa-calendar fa-3x"></i>
						</div>
						<div class="media-body">
							<p class="strong lead margin-none"><%= @event.date %></p>
							<p class="strong margin-none"><%= @event.time %></p>
						</div>
					</div>
				</div>
			</div>
			<div class="widget">
				<h4 class="innerAll half border-bottom margin-none" id="list_items">Event Rating</h4>
				<div class="border-bottom">
			  		<div class="innerAll half">
			  			<span class="badge badge-primary pull-right">
							Number of rates: <%= @event.rates.where("score > 0").count%>
						</span><div id="event_star"></div>		
			  		</div>
			  </div>
			</div>		
			<div class="widget" id="member_widget">
				<h4 class="innerAll half border-bottom margin-none" id="list_items">Members
					<span class="badge pull-right"><%= @event.eventjoinings.where(status: 'approved').count %></span>
				</h4>
				<div class="border-bottom">
			  		<div class="innerAll half">
			  				<% if @event.eventjoinings.any? %>
							    <% @event.eventjoinings.each do |f| %>
									  <% @user = User.find_by(id: f.user_id) %>
									   <% if f.id != nil %>
											  <% if f.status == 'approved' %>
													<div class="media">
													    <a class="pull-left" href="#">
													    	<%= image_tag @user.photo_url(:icon), :class=>"media-object"%>
													    </a>
													    <div class="media-body innerAll half">
														    <h5 class="media-heading padding-none">
																<%= link_to @user.name, @user %>
															</h5>
															Joined <%= time_ago_in_words(f.updated_at) %> ago.
															<% if current_user?(@event.user) %>
															<br>
															  <%= link_to "Kick him out", eventjoining_path(:user_id => @user.id, :id => f.id), :method => :delete %>
															<% end %>
													    </div>
													</div>
											  <% end %>
										<% end %>
							    <% end %>
							<% else %>
							  	No one has joined yet...
							<% end %>		
			  		</div>
			  </div>
			</div>
						
  			<% if @event.eventjoinings.find_by(user_id: current_user.id) %>
				  <% if @event.eventjoinings.find_by(user_id: current_user.id).status == 'approved'%>
			    		<div class="widget">
							<h4 class="innerAll half border-bottom margin-none" id="list_items">Rate This Event</h4>
							<div class="border-bottom">
						  		<div class="innerAll half">
				  					<div id="rate_event"></div>	
						  		</div>
						  	</div>
						</div> 
				  <% end %>
			<% end %>
    	</div>
    </div>
	
	<% if @event.comments.count > 0 %>
	    <div class="row" id="event_comments">
	    	<div class="widget">
				<h4 class="bg-primary innerAll half border-bottom margin-none">Comments</h4>
			    <%@event.comments.each do |comment|%>
				    <% @user = User.find_by(id: comment.user_id) %>
						<div class="media innerAll half border-bottom margin-none">
							<%= link_to image_tag(@user.photo_url(:icon), class: 'img-responsive img-circle'), @user, class: 'pull-left' %>
							<div class="media-body">
								<small class="pull-right label label-default"><%= time_ago_in_words(comment.created_at) %> ago</small>
								<div id="list_items"><h5><%= link_to @user.name, @user %></h5></div>
								<p><%= comment.comment %></p>
								<% if comment.user_id == current_user.id %>
								  <p class="label label-info pull-right"><%= link_to 'Delete Comment', [comment.event, comment],method: :delete,data: { confirm: 'Are you sure?' } %></p>
								<% end %>
							</div>
						</div>
				  <%end%>
			</div>
		</div>
	<% end %>

	  
  	<% if current_user?(@event.user) && @event.eventjoinings.where(status: 'pending').count > 0 %>
	<div class="row" id="event_comments">
		<div class="widget">
			<h4 class="bg-primary innerAll half border-bottom margin-none">Pending List</h4>
			<% if @event.eventjoinings.where(status: 'approved').count < @event.capacity %>
			  <% @event.eventjoinings.each do |f| %>
			  <div class="media innerAll half border-bottom margin-none">
			    <% if f.status == 'pending' %>
			      <% @user = User.find_by(id: f.user_id) %>
				  <%= link_to image_tag(@user.photo_url(:icon), class: 'img-responsive img-circle'), @user, class: 'pull-left' %>
				  <div class="media-body" id="list_items">
					  <small class="pull-right label label-default"><%= time_ago_in_words(f.created_at) %> ago</small>
				      <%= link_to @user.name, @user %> is pending for your approval.
				  </div>
			      <div class="innerT half text-right">
			  	      <%= link_to "Approve", eventjoining_path(:status => 'approved', :id => f.id),
						 				   class: 'btn btn-info btn-xs', :method => :patch %>
			  	      <%= link_to "Reject", eventjoining_path(:user_id => f.user_id, :id => f.id),
					                       class: 'btn btn-info btn-xs', :method => :delete %>
				  </div>
			    <% end %>
			  </div>
			  <% end %>
			<% else %>
			  <% if @event.eventjoinings.where(status: 'pending').count > 0 %>
			    <p>Someone is pending for approval. However, this event is already full.</p>
			  <% else %>
			    <p>Nobody is pending for approval.</p>
		      <% end %>
			<% end %>
		</div>
	</div>
	<% end %>
      
	<% if @event.eventjoinings.find_by(user_id: current_user.id) %>
		  <% if @event.eventjoinings.find_by(user_id: current_user.id).status == 'approved' %>
		  <div class="row" id="event_comments">
		    <div class="widget">
				<h4 class="bg-primary innerAll half border-bottom margin-none">Add a comment:</h4>			
				<div class="widget-body">
					<%= form_for([@event, @event.comments.build(user_id: current_user.id, event_id: @event.id)], 
					              html: {class: "form-horizontal", role: "form"}) do |f| %>
						<div class="form-group">
					        <label for="inputEmail3" class="col-sm-2 control-label">Comment</label>
					        <div class="col-sm-10">
					            <%= f.text_area :comment, class: "form-control", placeholder: "Say something..." %>
					        </div>
					    </div>
		    			<%= f.hidden_field :user_id %>
			        	<%= f.hidden_field :event_id %>
				        <div class="form-group">
					        <div class="col-sm-offset-2 col-sm-10">
					            <button type="submit" class="btn btn-primary">Create Comment</button>
					        </div>
					    </div>
					<%end%>
				</div>
		    </div>
		  </div>
		  <% end %>
	<% end %>
</div>

<script>
	$('#event_star').raty({
  	  readOnly: true,
	  path: '/assets',
	  score: <%= @event.average_rate %>
	});


	$('#rate_event').raty({
	  path: '/assets',
  	  score: <%= @rate.score %>,
	  click: function(score, evt) {
	    $.ajax({
	      url: '/rates/' + <%= @rate.id %>,
	      type: 'PATCH',
	      data: { score: score }
	    }).done(function (data){});

	  }
	});


	fn_init_map = function(){
    	var event_location = "<%= @event.street%>";
		var available_regions = ["Kowloon", "Hong Kong Island", "New Territories"];
		var trial = 0; // workaround for sometimes search by click doesn't work

		var options = {
			map: ".map_canvas",
		  details: "form",
		  location: event_location
		};
		
		$('#geocomplete').geocomplete(options);
	};

	setTimeout(fn_init_map, 1000);

	</script>