<div class="hero-unit" >
	<% provide(:title, @event.title)%>
	<div class="row-fluid">
	  <div class="span12">
	    <section>
	      <h1>
	        <%= @event.title %>
	      </h1>
	    </section>
	  </div>
	  <%= image_tag @event.avatar_url(:standard) %>
	  <div class="field">
	    <%= @event.description %>
	  </div>
	  <br>
	  <div class="row-fluid">
		  <div class="span12">
		    <%= render 'shared/stats' %>
		  </div>
		  <br>
		  <div class="span6">
		    <%= render 'join_form' if signed_in? %>
		  </div>
		  <div class="span6">
			  <% if current_user?(@event.user) %>
			  	<%= link_to "edit", edit_event_path, class: "btn btn-large btn-primary" %>
			  <% end %>
		  </div>
	  </div>
	  
	  
	</div>