  <!-- load geocomplete api -->
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&location_type=ROOFTOP&result_type=administrative_area_level_1&language=en"></script>

  <div class="hero-unit" >
	<% provide(:title, @event.title)%>
    <div class="row" id="event_detail">
    	<div class="col-md-6">
    		<div class="widget">
    			<h4 class="bg-primary innerAll half border-bottom margin-none"><%= @event.title %></h4>
    			<div class="widget-body padding-none">
					<%= link_to image_tag(@event.avatar_url(:standard)), @event %>
				    <%#=image_tag "event-pic.jpg", class:"img-responsive"%>
				    <%#= link_to image_tag(@event.avatar_url(:standard)), @event %>
			    </div>
    		</div>
			
    		<div class="widget">
    			<h4 class="bg-primary innerAll half border-bottom margin-none">Description</h4>
    			<div class="widget-body padding-none">
				    <div class="description">
						  <p><%= @event.description %></p>					
				    </div>
			    </div>
    		</div>
			
    		<div class="widget">
				<h4 class="bg-primary innerAll half border-bottom margin-none">Rate</h4>
				<div class="border-bottom">
			  		<div class="innerAll half">
			  			<% if @event.eventjoinings.find_by(user_id: current_user.id) %>
						  <% if @event.eventjoinings.find_by(user_id: current_user.id).status == 'approved'%>
							<% if @event.average_rate == 0%>
									<span class="badge badge-primary pull-right">0</span>  <div id="event_star"></div>
							<% else %>
					  			<span class="badge badge-primary pull-right"><%= @event.rates.count%></span> <div id="event_star"></div>
							<% end %>
						  <% end %>
						<% end %>		  			
			  		</div>
			  </div>
			</div>
			
			<div class="widget">
				<h4 class="bg-primary innerAll half border-bottom margin-none">Members</h4>
				<div class="border-bottom">
			  		<div class="innerAll half">
			  			<%=link_to members_event_path(@event) do%>
			  				<span class="badge badge-primary pull-right"><%= @event.eventjoinings.count %></span> Attending
			  			<%end%>				  			
			  		</div>
			  </div>
			</div>
    	</div>
		

    	<div class="col-md-6 col-lg-6">
    		<div class="widget">
					<h4 class="bg-primary innerAll half border-bottom margin-none">Creator</h4>
					<div class="border-bottom">
				  		<div class="innerAll half">
				  			<% @creator = User.find_by(id: @event.user_id)%>
				  			<%= link_to @creator do%>
				  				<span class="badge badge-primary pull-right"><%= @creator.name%></span>
				  			<%end%>
								<%= link_to image_tag(@creator.photo_url(:icon)), @creator %>	
				  		</div>
				  </div>
				</div>

    		

    		<div class="widget">
				<h4 class="bg-primary innerAll half border-bottom margin-none">Event Date & Time</h4>
				<div div class="media-body">
					<div class="media innerAll half margin-none">
						<div class="pull-left">
							<i class="fa fa-fw fa-calendar fa-3x"></i>
						</div>
						<div class="media-body">
							<p class="strong lead margin-none"><%= @event.date %></p>
							<p class="strong margin-none"><%= @event.time %></p>
						</div>
					</div>
				</div>
			</div>

			<div class="widget">
				<h4 class="bg-primary innerAll half border-bottom margin-none">Location</h4>
				<div class="innerAll half bg-gray border-bottom">
					<div class="media innerAll half margin-none">
						<div class="pull-left">
							<i class="fa fa-fw fa-map-marker fa-3x"></i>
						</div>
						<div class="media-body">
							<input id="geocomplete" type="hidden" placeholder="Type in an address" size="90" />
							<p class="strong lead margin-none"><%= @event.region %></p>
							<p class="strong margin-none"><%= @event.street  %></p>
						</div>
						<div class="map_canvas" style="width:365px; height:200px"></div>
					</div>
				</div>

				<div class="innerAll text-center half">
					<div class="row">
						<%= render 'join_form' if signed_in? %>
						<% if current_user?(@event.user) %>
						<div class="col-md-6">
						  	<%= link_to "edit", edit_event_path, class: "btn btn-default" %>
						</div>
						<% end %>
					</div>
				</div>
			</div>
    	</div>
    </div>
    

	    <div class="row" id="event_comments">
	    	<div class="widget">
						<div class="innerAll half border-bottom">
							<!-- <a href="" class="btn btn-primary btn-xs pull-right"><i class="fa fa-plus-circle"></i></a> -->
							<h4 class="margin-none padding-none">Comments</h4>
						</div>
						<% if @event.comments.count > 0 %>
					    <%@event.comments.each do |comment|%>
						    <% @user = User.find_by(id: comment.user_id) %>
								<div class="media innerAll half border-bottom margin-none">
									<%= link_to image_tag(@user.photo_url(:icon), class: 'img-responsive img-circle'), @user, class: 'pull-left' %>
									<div class="media-body">
										<small class="strong pull-right"><%= time_ago_in_words(comment.created_at) %> ago</small>
										<h5><%= link_to @user.name, @user %></h5>
										<p><%= comment.comment %></p>
										<% if comment.user_id == current_user.id %>
										  <p class="label label-info"><%= link_to 'Delete Comment', [comment.event, comment],method: :delete,data: { confirm: 'Are you sure?' } %></p>
										<% end %>
									</div>
								</div>
						  <%end%>
    				<% end %>
					</div>
	    </div>

	  <div class="row" id="event_comment">
	  	<% if current_user?(@event.user) && @event.eventjoinings.where(status: 'pending').count > 0 %>
				<br>
				<label>Pending List:</label>
				<br>
				<% if @event.eventjoinings.where(status: 'approved').count < @event.capacity%>
				  <% @event.eventjoinings.each do |f| %>
				    <% if f.status == 'pending' %>
				      <% @user = User.find_by(id: f.user_id) %>
					  <%= link_to image_tag(@user.photo_url(:icon)), @user %>
				      <%= link_to @user.name, @user %> is pending for your approval.
					  <%= link_to "Approve", eventjoining_path(:status => 'approved', :id => f.id), :method => :patch %>
					  <%= link_to "Reject", eventjoining_path(:user_id => @user.id, :id => f.id), :method => :delete %>
					  <br>
				    <% else %>
				    <% end %>
				  <% end %>
				<% else %>
				  <% if @event.eventjoinings.where(status: 'pending').count > 0 %>
				    <p>Someone is pending for approval. However, this event is already full.</p>
				  <% else %>
				    <p>Nobody is pending for approval.</p>
			      <% end %>
				<% end %>
			<% end %>

      <% if @event.eventjoinings.find_by(user_id: current_user.id) %>
			  <% if @event.eventjoinings.find_by(user_id: current_user.id).status == 'approved'%>
			    <div class="widget">
						<!-- Widget heading -->
						
							<h4 class="bg-primary innerAll half border-bottom margin-none">Add a comment:</h4>
						
						<!-- // Widget heading END -->				
						<div class="widget-body">
							<%= form_for([@event, @event.comments.build(user_id: current_user.id, event_id: @event.id)], html: {class: "form-horizontal", role: "form"}) do |f| %>
								<div class="form-group">
						        <label for="inputEmail3" class="col-sm-2 control-label">Comment</label>
						        <div class="col-sm-10">
						            <%= f.text_area :comment, class: "form-control", placeholder: "Say something..." %>
						        </div>
						    </div>
                <%= f.hidden_field :user_id %>
				        <%= f.hidden_field :event_id %>
				        <div class="form-group">
						        <div class="col-sm-offset-2 col-sm-10">
						            <button type="submit" class="btn btn-primary">Create Comment</button>
						        </div>
						    </div>
							<%end%>
						</div>
			    </div>
			  <% end %>
			<% end %>
	  </div>

	<script>
	$('#event_star').raty({
	       	   	score: <%= @event.average_rate %>,
	       	 	path: '/assets',
	       	 	click: function(score, evt) {
	         	   $.ajax({
	           		 url: '/rates/' + <%= @rate.id %>,
	           	  	 type: 'PATCH',
	           	  	 data: { score: score }
	         		});
	       	 	}
	});


	$(function(){
    var event_location = "<%= @event.street%>";
		var available_regions = ["Kowloon", "Hong Kong Island", "New Territories"];
		var trial = 0; // workaround for sometimes search by click doesn't work

		var options = {
			map: ".map_canvas",
		  details: "form",
		  location: event_location
		};

    $("#geocomplete").geocomplete(options);

	});
	</script>