<div class="hero-unit" >
	<% provide(:title, @event.title)%>
	<div class="row-fluid">
	  <div class="span12">
	    <section>
	      <h1>
	        <%= @event.title %>
	      </h1>
	    </section>
	  </div>
	  <%= image_tag @event.image.url if @event.image_stored? %>
	  <div class="field">
	    <%= @event.description %>
	  </div>
	  <br>
	  <div class="row-fluid">
		  <div class="span2">
		    <%= render 'shared/stats' %>
		  </div>
		  <div class="span10">
		    <%= render 'join_form' if signed_in? %>
		  </div>
	  </div>
	  
	  <% if current_user?(@event.user) %>
	  	<%= link_to "edit", edit_event_path, class: "btn btn-large btn-primary" %>
	  <% end %>
	</div>