  <!-- load geocomplete api -->
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&location_type=ROOFTOP&result_type=administrative_area_level_1&language=en"></script>

  <div class="hero-unit" >
	<% provide(:title, @event.title)%>
	<div class="row-fluid">
	  <div class = "span12">
		    <section>
		      <h1>
		        <%= @event.title %>
		      </h1>
		    </section>
		</div>
	</div>
	  
	  <!-- Show rate -->
	    <div class = "row-fluid">
		  <div class = "span6">	
			
			<% if @event.eventjoinings.find_by(user_id: current_user.id) %>
			  <% if @event.eventjoinings.find_by(user_id: current_user.id).status == 'approved'%>
	            <div class = "row">
	            	<div class="span3 offset1">
	  		      		<div id="event_star"></div>
	  		  		</div>
	            	<div class="span2">
			  			<%= @event.rates.count%> rates
	  		  		</div>
		        </div>
			  <% end %>
			<% end %>
	  
	  	  	<script>
		
	    	  $('#event_star').raty({
	       	   	score: <%= @rate.score %>,
	       	 	path: '/assets',
	       	 	click: function(score, evt) {
	         	   $.ajax({
	           		 url: '/rates/' + <%= @rate.id %>,
	           	  	 type: 'PATCH',
	           	  	 data: { score: score }
	         		});
	       	 	}
	     	  })
	  		</script>
		  </div>
	  
	  <!-- end -->
	  
  		  <div class = "span2">
			 <%= render 'shared/stats' %>
  		  </div>
  		  <div class = "span2">
			 <%= render 'join_form' if signed_in? %>
  		  </div>
  		  <div class = "span2">
			 <% if current_user?(@event.user) %>
		  	   <%= link_to "edit", edit_event_path, class: "btn btn-large btn-primary" %>
			 <% end %>
		  </div>
	    </div>
	  
	  <div class="row-fluid">
		  <div id="event_left" class="span6">

			  <div> 
			  	<%= link_to image_tag(@event.avatar_url(:standard)), @event %>
			  </div>
			  <h3><%= @event.description %></h3>

			  <label>Event date: </label>
			  <p><%= @event.date %></p>
			  <div class="field">
			  </div>

			  <label>Created by: </label>
			  <p><% @creator = User.find_by(id: @event.user_id)%>
			  <%= link_to image_tag(@creator.photo_url(:icon)), @creator %>
			  <%= link_to @creator.name, @creator %></p>

		  </div>


		  <div id="event_right" class="span6">

				    <!-- event location: START -->
				    <div id="location_fields">
				      <input id="geocomplete" type="hidden" placeholder="Type in an address" size="90" />
				      <label>Region:</label>
					  <p><%= @event.region %></p>
				      <label>Street Address:</label>
					  <p><%= @event.street  %></p>

				      <div class="map_canvas"></div>
				    </div>

				    <script>

				      $(function(){

			        	var event_location = "<%= @event.street  %>"
				        var available_regions = ["Kowloon", "Hong Kong Island", "New Territories"];
				        var trial = 0; // workaround for sometimes search by click doesn't work

				        var options = {
				          map: ".map_canvas",
				          details: "form",
				          location: event_location
				        };

				        $("#geocomplete").geocomplete(options);

				      });
				    </script>
				    <!-- event location: END -->
			</div>

	  </div>
	  <br>
	  <br>
	  <div class="row-fluid">

		  <div class="span12">
			  <% if current_user?(@event.user) && @event.eventjoinings.where(status: 'pending').count > 0 %>
				<br>
				<label>Pending List:</label>
				<br>
				<% if @event.eventjoinings.where(status: 'approved').count < @event.capacity%>
				  <% @event.eventjoinings.each do |f| %>
				    <% if f.status == 'pending' %>
				      <% @user = User.find_by(id: f.user_id) %>
					  <%= link_to image_tag(@user.photo_url(:icon)), @user %>
				      <%= link_to @user.name, @user %> is pending for your approval.
					  <%= link_to "Approve", eventjoining_path(:status => 'approved', :id => f.id), :method => :patch %>
					  <%= link_to "Reject", eventjoining_path(:user_id => @user.id, :id => f.id), :method => :delete %>
					  <br>
				    <% else %>
				    <% end %>
				  <% end %>
				<% else %>
				  <% if @event.eventjoinings.where(status: 'pending').count > 0 %>
				    <p>Someone is pending for approval. However, this event is already full.</p>
				  <% else %>
				    <p>Nobody is pending for approval.</p>
			      <% end %>
				<% end %>

			  <% end %>		  

		  </div>
		  <br>
		
		<% if @event.comments.count > 0 %>
			<h2>Comments</h2>
			<div>
			<%= render @event.comments%>
			<br>
			<br>
			</div>
		<% end %>
		
		<% if @event.eventjoinings.find_by(user_id: current_user.id) %>
		  <% if @event.eventjoinings.find_by(user_id: current_user.id).status == 'approved'%>
		    <h2>Add a comment:</h2>
		    <%= form_for([@event, @event.comments.build(user_id: current_user.id, event_id: @event.id)]) do |f| %>
		      <p>
		        <%= f.label :comment %>
		        <%= f.text_area :comment %>
		      </p>
		    
			    <%= f.hidden_field :user_id %>
			    <%= f.hidden_field :event_id %>
		      <p>
		        <%= f.submit %>
		      </p>
		    <% end %>
		  <% else %>
		  <% end %>
		<% else %>
		<% end %>
	  </div>
	  
	  
	</div>