<div class="hero-unit" >
	<% provide(:title, @event.title)%>
	<div class="row-fluid">
	  <div class="span12">
	    <section>
	      <h1>
	        <%= @event.title %>
	      </h1>
	    </section>
	  </div>
	  <div class="field">
		<%= @event.title %>
	    <%= @event.description %>
	  </div>
	  <section>
	    <%= render 'shared/stats' %>
	  </section>
	  <div class="span8">
	    <%= render 'join_form' if signed_in? %>
	  </div>
	</div>