<div class="hero-unit" >
	<% provide(:title, 'All friends') %>
	<div class="widget widget-inverse">
  	<!-- Widget heading -->
  	  <h4 class="bg-primary innerAll half border-bottom margin-none">All friends  (<%= @friendshipOne.count + @friendshipTwo.count %>)</h4>
  	
	<!-- // Widget heading END -->	
  	<div class="widget-body">
      <div class="row row-merge">
      	<% @friendshipOne.each do |f| %>
      	  <% @friend = User.find_by(id: f.friend_id) %>
			    <div class="col-md-6 bg-white border-bottom ">
	     			<div class="row">
					    <div class="col-sm-9">
						    <div class="media">
							    <a class="pull-left" href="#">
								    <%= image_tag @friend.photo_url(:thumbnail), class:"media-object", width: "100", height: "100" %>
							    </a>
							    <div class="media-body innerAll half">
									<h4 class="media-heading padding-none"><%= link_to @friend.name, @friend %></h4>
									<p><%= @friend.email%></p>
							    	<%unless f.status == 'request'%>
									    <small class="text-success"><i class="fa fa-check"></i> Friend</small> 
								    <%end%>

							    </div>
						    </div>
					    </div>

					    <div class="col-sm-3 ">
						    <div class="innerAll half">
						    	<% if f.status == 'request' %>
								    <div class="innerT half">
									    Pending.
								    </div>
							    <%else%>
								    <div class="innerT half  text-right">
								    	<%= link_to "Unfriend", friendship_path(:inverse => 'false', :id => f.id), class: 'btn btn-primary btn-xs margin-top ', :method => :delete %>
								    </div>
							    <%end%>
						    </div>
					    </div>

				    </div><!--row-->
			    </div>
		    <%end%>

		    <% @friendshipTwo.each do |f| %>
		      <% @friend = User.find_by(id: f.user_id) %>
		      <div class="col-md-6 bg-white border-bottom ">
	     			<div class="row">
					    <div class="col-sm-9">
						    <div class="media">
							    <a class="pull-left" href="#">
								    <%= image_tag @friend.photo_url(:icon), class:"media-object", width: "100", height: "109" %>
							    </a>
							    <div class="media-body innerAll half">
								    <h4 class="media-heading padding-none"><%= link_to @friend.name, @friend %></h4>
									<% if f.status == 'approved'%>
								    <small class="text-success"><i class="fa fa-check"></i> Friend</small>
									<% end %>
							      	<p><%= @friend.email%></p>
							    </div>
						    </div>
					    </div>

					    <div class="col-sm-3 ">
						    <div class="innerAll half text-right">
						    	<% if f.status == 'request' %>
								    <div class="innerT half">
									    <%= link_to "Approve", friendship_path(:status => 'approved', :id => f.id), class: 'btn btn-info btn-xs', :method => :patch %>
			                			<%= link_to "Reject", friendship_path(:inverse => 'true', :id => f.id), class: 'btn btn-info btn-xs', :method => :delete %>
								    </div>
							    <%else%>
								    <div class="innerT half">
								    	<%= link_to "Unfriend", friendship_path(:inverse => 'true', :id => f.id), class: 'btn btn-primary btn-xs margin-top ', :method => :delete %>
								    </div>
							    <%end%>
						    </div>
					    </div>

				    </div><!--row-->
			    </div>
		    <%end%>
		  </div>
    </div><!--widget-body-->
  </div>