<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html> <![endif]-->
<!--[if !IE]><!--><html><!-- <![endif]-->
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!-- Meta -->
	  <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	  <meta name="apple-mobile-web-app-capable" content="yes">
	  <meta name="apple-mobile-web-app-status-bar-style" content="black">
	  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
	
	<% if signed_in? %>
	<script type="text/javascript" charset="utf-8">
	  $(function() {
	    var pusher = new Pusher('1a52a00bf90e5760d10d'); // Replace with your app key
	    var channel = pusher.subscribe('private-'+<%= current_user.id %>);
		
	    // // Some useful debug msgs
	    // pusher.connection.bind('connecting', function() {
	    //   $('div#status').text('Connecting to Pusher...');
	    // });
	    // pusher.connection.bind('connected', function() {
	    //   $('div#status').text('Connected to Pusher!');
	    // });
	    // pusher.connection.bind('failed', function() {
	    //   $('div#status').text('Connection to Pusher failed :(');
	    // });
	    // channel.bind('subscription_error', function(status) {
	    //   $('div#status').text('Pusher subscription_error');
	    // });
  	    channel.bind('new_message', function(data) {
  	      msg = data.from + ' has sent you message: ' + data.subject;
  	      dom_notify(msg, data.msgtype);
  	    });
		
    	function dom_notify(msg, msgtype) {
		  if (msgtype == 'msg') {
			  $('#message-count').html(parseInt($('#message-count').html())+1);
			  $('#message-count').removeClass('hidden');
		  }
		  else {
			  $('#notify-count').html(parseInt($('#notify-count').html())+1);
			  $('#notify-count').removeClass('hidden');
		  }			  
    	  $('#notify').text(msg);
    	  $('#notify').fadeIn();
    	  setTimeout(function() {
    	    $('#notify').fadeOut();
    	  }, 2000);
    	}
	  });
	</script>
	<% end %>
	
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
		
<!-- 
    <div id="status">
	</div> -->
		
	  <% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
	  <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>